<div class="container" id="about">
	<div class="row">
		<div class="span12">
			<ul class="thumbnails">
				<li class="thumbnail span12 thumb_poi">
					<div class="row">
						<div class="popup-title span12" style="padding: 10px"><h3>Sobre nós</h3></div>
					</div>
					<div class="row">
						<div class="popup-pic span4" style="text-align: center"><img src="/ond_logo.png" width="300"></div>
						<div class="popup-text span7" style="padding: 10px">
							<h3 style="color: #666; margin-top: 20px">OND? é uma aplicação que te permite descobrir novos locais interessantes perto de ti ou numa outra cidade que queiras visitar. Encontra novos restaurantes, bares, praias e mais para que nunca fiques sem ideias de onde ir a seguir.</h3>
							<p style="margin-top: 60px">Aplicação desenvolvida por <a target="_blank" href="https://twitter.com/ricardoplopes">Ricardo Lopes</a> e <a target="_blank" href="https://twitter.com/rchicoria">Rui Chicória</a>.</p>
						</div>
					</div>
					<div class="row vantagens" style="margin-top: 30px">
						<div class="span4">
							<p align="center"><img src="/about1.png"></p>
							<h2>Informação sobre os locais</h2>
							<p>Extraímos informação sobre cada local de várias fontes diferentes para oferecer o guia mais completo possível. Disponibilizamos mapas, horários, contactos e até informação específica do local, como especialidades de restaurantes ou tipos de músicas de bares.</p>
						</div>
						<div class="span4">
							<p align="center"><img src="/about2.png"></p>
							<h2>Lista em constante crescimento</h2>
							<p>Graças às nossas fontes de dados e aos nossos algoritmos, conseguimos encontrar locais que procuravas mesmo que ainda não tivéssemos informação deles antes. Assim, quanto mais procurares, mais completa fica a lista de locais que te disponibilizamos.</p>
						</div>
						<div class="span4">
							<p align="center"><img src="/about3.png"></p>
							<h2>Sugestões inteligentes</h2>
							<p>Poderás ver sugestões de novos sítios a visitar à medida que fores utilizando o site. As sugestões têm em conta o sítio onde te encontras, que tipo de locais andas à procura, que outros sítios interessantes há perto dos que planeias visitar, etc. Estas sugestões têm ainda em conta a popularidade de cada local, para recomendações mais relevantes.</p>
						</div>
					</div>
					<div class="row vantagens">
						<div class="span4">
							<p align="center"><img src="/about4.png"></p>
							<h2>Disponível em todas as plataformas</h2>
							<p>Como é uma aplicação web, pode ser corrida a partir de qualquer dispositivo. Tem ainda uma interface exclusiva para smartphones que permite utilizar todas as suas funcionalidades no telemóvel. Assim, é possível usar a aplicação na rua para saber onde ir a seguir, ou usar os seus mapas para guiar para o local pretendido.</p>
						</div>
						<div class="span4">
							<p align="center"><img src="/about5.png"></p>
							<h2>Integração na plataforma One.Stop.Transport</h2>
							<p>Esta aplicação está integrada na inovadora plataforma One.Stop.Transport, uma plataforma de serviços e aplicações de apoio à mobilidade, do projecto TICE.Mobilidade. Isto permite ter dados relevantes de todos os pontos do país que, cruzados com outras fontes, possibilitam um catálogo de locais tão completo como o que disponibilizamos.</p>
						</div>
						<div class="span4">
							<p align="center"><img src="/about6.png"></p>
							<h2>... E isto ainda é apenas o princípio!</h2>
							<p>Esta aplicação surge como uma proposta de prova de conceito para aumentar e melhorar os dados de locais do projecto TICE.Mobilidade. Assim, dada esta prova de conceito, é possível pensar em novas funcionalidades que se podem adicionar à aplicação, como indicação do percurso desde o local onde o utilizador se encontra até onde pretende ir, internacionalização, etc.</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
